<!-- <div>
  <select *ngIf="styles.length>0" (change)="chooseStyle($event)">
    <option *ngFor="let list of styles" [value]="list.id">{{list.title}}</option>
  </select>
</div>
Please Choose one: <input type="file" accept="image/png, image/jpeg, image/jpg" (change)="uploadImg($event)">
<button (click)="getSubmissionId()" *ngIf="hideUploadBtn">Upload</button><br/><br/>
<img src={{imgUrl}} width="500">
<div *ngIf="error">Some Error Occured</div>
<a [routerLink]="['/home']">Home</a>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Pay</button>

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#card">Card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#ideal">iDeal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#paypal">Paypal</a>
          </li>
        </ul>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body tab-content">
        <div id="card" class="container tab-pane active">
          <form id="payment-form" class="card-payment-form">
            <div id="card-element">
            </div>
            <div id="card-errors" role="alert"></div>
            <button id="submit" class="btn btn-primary submit"> Pay</button>
          </form>
        </div>
        <div id="ideal" class="container tab-pane fade">
          <form id="ideal-payment-form">
            <div class="form-row">
              <label for="accountholder-name"> Name</label>
              <input id="accountholder-name" name="accountholder-name" autocomplete="off">
            </div>
            <div class="form-row">
              <label for="ideal-bank-element">iDEAL Bank</label>
              <div id="ideal-bank-element" class="ideal-selector-container"></div>
            </div>
            <button>Submit Payment</button>
            <div id="error-message" role="alert"></div>
          </form>
        </div>
        <div id="paypal" class="container tab-pane fade">
          <div id="paypalForPayment"></div>          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div> -->