.home-wrapper{
    box-sizing: border-box;
    border-radius: 8px;
    width: 60%;
    margin: 115px auto 0px;
    text-align: center;
    &.home-wrapper-border{
        padding: 4% 0 4%;        
        border: 3px dashed #DADEE6;
    }
    .up-arrow{
        margin-top: 2.5%;
    }
    .image-icon{
        margin: 3% 0 4%;
    }
    .pick-img-button{
        background: #4F6EC3;
        border-radius: 4px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        display: inline-block;
        padding: 11px 18px;
        cursor: pointer;
        .img{
            display: inline-block;
            vertical-align: middle;
        }
        .btn-txt{
            margin-left: 10px;
        }
    }
    .uploaded-img-wrapper{
        height: calc(100vh - 290px);
        width: calc(100vh - 20px);
        margin: 0 auto;
        position: relative;
        
        .img-size{
            max-height: 100%;
            max-width: 100%;
        }
       
    }
    .uploaded-frame-wrapper{
        height: calc(100vh - 290px);
        width: calc(100vh - 300px);
        margin: 0 auto;
        position: relative;
        .frame-size{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
        .img-inside-frame{
            position: absolute;
            top: 66px;
            left: 93px;
            width: calc(100% - 189px);
            height: calc(100% - 135px);
            object-fit: cover;
        }
    }
    
    .loader-wrapper{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #5A5C66;
        position: relative;
        top: 50%;
        #progressBar{
            background: #ECEFF5;
            border-radius: 4px;
            width: 225px;
            height: 5px;
            display: inline-block;
            div{
                background: #4F6EC3;
                border-radius: 4px;
                width: 0px;
                height: 5px;
                animation-name: progressBar;
                animation-duration: 4s;
            }
        }
    }
   
}
.uploaded-pictures{
    width: 75%;
    margin: 0 auto;
    .title{
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        color: #131417;
    }
    .pictures{
        margin-top: 58px;
        .add-img-wrapper{
            display: inline-block;            
            .add-img{
                border: 3px dashed #DADEE6;
                box-sizing: border-box;
                border-radius: 8px;
                width: 320px;
                height: 240px;
                text-align: center;
                cursor: pointer;
                .horizontal-line{
                    background: #131417;
                    transform: rotate(90deg);
                    width: 2px;
                    height: 24px;
                    position: relative;
                    display: inline-block;
                    top: 44%;
                }
                .vertical-line{
                    width: 2px;
                    height: 24px;
                    background: #131417;
                    display: inline-block;
                    position: relative;
                    right: 6px;
                    top: 44%;
                }
            }
            .upload-img-title{
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: #35373E;
                margin-top: 12px;
            }
        }
        
        .images{
            width: 320px;
            height: 240px;
            display: inline-block;
            vertical-align: top;
            margin-left: 30px;
            border-radius: 2px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .filters{
                width: 14px;
                display: inline-block;
                margin-top: 12px;
            }
            .applied-filter-count{
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                text-align: right;
                color: #35373E;
            }
        }
    }
}

@keyframes progressBar {
    from { width: 0px; }
    to { width: 225px; }
  }
