<div class="container-fluid  about-us-container">
  <div class="row add-margin">
    <div class="col-sm-6 col-xs-6 col-lg-6  padding-left-0">
      <div class="title">Turning ordinary photo’s into amazing pictures using Artificial Intelligence filters</div>
      <div class="desc">We use AI filters to turn ordinary photo’s into stunning pictures. We have more than 30 filters which you can apply
        in your photo and get a print of it.</div>
      <div class="create-print-btn">Create a print</div>
    </div>
    <div class="col-sm-6 col-xs-6 col-lg-6  padding-right-0">
      <img src="http://worker-images.ws.pho.to/i1/3E0DAB31-8F00-48CC-A28C-3FC8B538842E.jpg" class="img-responsive img-size">
    </div>
  </div>
  <div class="row beautiful-filters add-margin">
    <div class="col-sm-6 col-xs-6 col-lg-6  padding-left-0">
      <img src="http://worker-images.ws.pho.to/i1/74493BAA-8586-11EA-8FDD-12789C8948B9.jpg" class="img-responsive img-size">
    </div>
    <div class="col-sm-6 col-xs-6 col-lg-6 AI-beautiful-filters">
      <div class="title filters-title">50+ beautiful filters</div>
      <div class="desc">We use AI filters to turn ordinary photo’s into stunning art work. </div>
      <div class="images">
        <div class="row">
          <div class="col-sm-2 col-xs-2 col-lg-2  remove-extra-space ">
            <img src="http://worker-images.ws.pho.to/i1/74493BAA-8586-11EA-8FDD-12789C8948B9.jpg" class="img-responsive filter-img first-filter">
            <img src="/assets/image/Check.png" class="check-mark">
          </div>
          <div class="col-sm-2 col-xs-2 col-lg-2  remove-extra-space"><img src="http://worker-images.ws.pho.to/i1/6D9D65FD-95CE-4196-979D-E0F1CEC29C15.jpg" class="img-responsive filter-img"></div>
          <div class="col-sm-2 col-xs-2 col-lg-2  remove-extra-space"><img src="http://worker-images.ws.pho.to/i1/367CE9AA-66DB-4BDF-8D1D-E32BF838D95D.jpg" class="img-responsive filter-img"></div>
          <div class="col-sm-2 col-xs-2 col-lg-2  remove-extra-space"><img src="http://worker-images.ws.pho.to/i1/8FB3D4C0-851A-4177-9BDE-CFD95D62FD4B.jpg" class="img-responsive filter-img"></div>
          <div class="col-sm-2 col-xs-2 col-lg-2  remove-extra-space"><img src="http://worker-images.ws.pho.to/i1/B85CBC70-8560-11EA-8C61-0ADAC16C6D13.jpg" class="img-responsive filter-img"></div>
          <div class="col-sm-2 col-xs-2 col-lg-2  remove-extra-space"><img src="http://worker-images.ws.pho.to/i1/8FEA43A6-5368-489C-AA44-3D68028771E5.jpg" class="img-responsive filter-img"></div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-xs-2 col-lg-2  remove-extra-space"><img src="http://worker-images.ws.pho.to/i1/18230BBE-8561-11EA-83DD-0ADAC16C6D13.jpg" class="img-responsive filter-img"></div>
          <div class="col-sm-2 col-xs-2 col-lg-2  remove-extra-space"><img src="http://worker-images.ws.pho.to/i1/D2F8BB02-8C5C-4257-8037-719C1F5EC27C.jpg" class="img-responsive filter-img"></div>
          <div class="col-sm-2 col-xs-2 col-lg-2  remove-extra-space"><img src="http://worker-images.ws.pho.to/i1/65ADDB80-8560-11EA-84CA-1262B0402AFB.jpg" class="img-responsive filter-img"></div>
          <div class="col-sm-2 col-xs-2 col-lg-2  remove-extra-space"><img src="http://worker-images.ws.pho.to/i1/88B9E0E9-2F76-452D-A792-C0BDAD011926.jpg" class="img-responsive filter-img"></div>
          <div class="col-sm-2 col-xs-2 col-lg-2  remove-extra-space"><img src="http://worker-images.ws.pho.to/i1/F707C0E2-762E-4785-9B9E-CA4E281E5F02.jpg" class="img-responsive filter-img"></div>
          <div class="col-sm-2 col-xs-2 col-lg-2  remove-extra-space"><img src="http://worker-images.ws.pho.to/i1/568EFD37-3DCF-4CD4-BDD0-34EF58E808B4.jpg" class="img-responsive filter-img"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row high-quality-print add-margin">
    <div class="col-sm-6 col-xs-6 col-lg-6  column-margin">
        <div class="title filters-title">High quality fine art prints</div>
        <div class="desc">Cras vitae turpis eget diam finibus commodo quis id lorem. Proin porta viverra magna nec commodo. Cras vitae turpis eget diam finibus commodo quis id lorem. Proin porta viverra magna nec commodo.</div>
        <div class="create-print-btn">Create a print</div>
    </div>
    <div class="col-sm-6 col-xs-6 col-lg-6  column-margin2">
      <div class="row  img-bottom-space">
        <div class="col-sm-6 col-xs-6 col-lg-6  img-container "><img src="http://worker-images.ws.pho.to/i1/21CA2B60-8562-11EA-82FD-02EB41F5A93E.jpg" class="first-img"></div>
        <div class="col-sm-6 col-xs-6 col-lg-6  img-container"><img src="http://worker-images.ws.pho.to/i1/33D79067-E3E1-4AB5-9684-C0A13F8C6BC9.jpg"></div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-xs-4 col-lg-4  img-container"><img src="http://worker-images.ws.pho.to/i1/95B15228-E9A5-4B1D-A0FB-EA9FF1A5730B.jpg"></div>
        <div class="col-sm-3 col-xs-3 col-lg-3  img-container">
          <div class="middle-img drawing"><img src="http://worker-images.ws.pho.to/i1/A0B53D15-D658-43AD-9D99-A8025F2FE58B.jpg"></div>
          <div class="middle-img"><img src="http://worker-images.ws.pho.to/i1/18230BBE-8561-11EA-83DD-0ADAC16C6D13.jpg"></div>
        </div>
        <div class="col-sm-5 col-xs-5 col-lg-5 img-container"><img src="http://worker-images.ws.pho.to/i1/DB91BFC5-20D8-4CF3-A82E-C6ADD59A27D5.jpg"></div>
      </div>
    </div>
  </div>
  <div class="row steps-for-img add-margin">
      <div class="title">Make your artwork in <span>4</span> simple steps</div>
      <div class="row artwork-print-steps">
        <div class="col-sm-3 col-xs-3 col-lg-3  steps">
          <div class="steps-img"><img src="/assets/image/upload.PNG"><div class="steps-num"><span>1</span></div></div>
          <div class="label">Upload photo</div>
          <div class="desc">Cras vitae turpis eget diam finibus commodo quis id lorem. Proin porta viverra magna nec commodo.</div>
        </div>
        <div class="col-sm-3 col-xs-3 col-lg-3  steps" >
          <div  class="steps-img"><img  src="/assets/image/filter.PNG"><div class="steps-num"><span>2</span></div> </div>
          <div class="label">Apply filter</div>
          <div class="desc">Cras vitae turpis eget diam finibus commodo quis id lorem. Proin porta viverra magna nec commodo.</div>
        </div>
        <div class="col-sm-3 col-xs-3 col-lg-3  steps">
          <div  class="steps-img"><img  src="/assets/image/print.PNG"><div class="steps-num"><span>3</span></div></div>
          <div class="label">Pick a print</div>
          <div class="desc">Cras vitae turpis eget diam finibus commodo quis id lorem. Proin porta viverra magna nec commodo.</div>
        </div>
        <div class="col-sm-3 col-xs-3 col-lg-3  steps">
          <div  class="steps-img"><img  src="/assets/image/order.PNG"><div class="steps-num"><span>4</span></div></div>
          <div class="label">Order</div>
          <div class="desc">Cras vitae turpis eget diam finibus commodo quis id lorem. Proin porta viverra magna nec commodo.</div>
        </div>
      </div>
  </div>
  <div class="row create-print-div justify-content-center">
    <div class="create-masterpiece">Ready to create your masterpiece? </div>
    <button class="create-print-btn">Create a print</button>
  </div>
  <div>
    <footer></footer>
  </div>
</div>