<div class="container  about-us-container">
  <div  class="row">
    <div class="col-sm-6">
      <div class="title">Turning ordinary photo’s into amazing pictures using Artificial Intelligence filters</div>
      <div class="desc">We use AI filters to turn ordinary photo’s into stunning pictures. We have more than 30 filters which you can apply in your photo and get a print of it.</div>
      <div class="create-print-btn">Create a print</div>
    </div>
    <div class="col-sm-6">
      <img src="http://worker-images.ws.pho.to/i1/D2F8BB02-8C5C-4257-8037-719C1F5EC27C.jpg" class="img-responsive img-size">
    </div>
  </div>
  <div  class="row"></div>
  <div  class="row"></div>
  <div  class="row"></div>
  <div  class="row"></div>
</div>