<div class="footer-container">
    <div class="row footer-menu">
      <div class="logo col-sm-3"><img src="/assets/image/logo_footer.png"></div>
      <div class="company col-sm-3">
        <div class="footer-title">Company</div>
        <div class="item">About</div>
        <div class="item">Jobs</div>
        <div class="item">Blog</div>
      </div>
      <div class="help col-sm-3">
        <div class="footer-title">Help</div>
        <div class="item">FAQ</div>
        <div class="item">Contact</div>
        <div class="item">Order status</div>
      </div>
      <div class="follow-us col-sm-3">
        <div class="footer-title">Company</div>
        <div class="item">Instagram</div>
        <div class="item">Pintrest</div>
      </div>
    </div>
    <div class="row legal-terms-container">
      <div class="col-sm-6">
        <div  class="legal-terms">Legal</div>
        <div  class="legal-terms">Privacy</div>
        <div  class="legal-terms">Terms</div>
      </div>
      <div class="col-sm-6 copyright">
        Pikaprint &copy; 2020 India
      </div>
    </div>
</div>